<!DOCTYPE html>
<html lang="en" ng-app="pws2022">
    <head>
        <title>pws2022</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" href="img/favicon.png">
        <link rel="stylesheet" href="node_modules/bootstrap3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="node_modules/bootstrap3/dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container" ng-controller="MainCtrl as ctrl">
            <h3>The first page served from pws2022!</h3>
            <table class="table table-stripped">
                <tr>
                    <th>id</th>
                    <th>first name</th>
                    <th>last name</th>
                    <th>year of birth</th>
                    <th>
                        <button class="btn btn-default fa fa-refresh" ng-click="ctrl.refresh()"></button>
                    </th>
                </tr>
                <tr ng-repeat="person in ctrl.persons">
                    <td ng-bind="person._id"></td>
                    <td>
                        <div ng-bind="person.firstName" ng-if="ctrl.editedRow!=$index"></div>
                        <input class="form-control" ng-model="ctrl.person.firstName" ng-if="ctrl.editedRow==$index"/>
                    </td>
                    <td>
                        <div ng-bind="person.lastName" ng-if="ctrl.editedRow!=$index"></div>
                        <input class="form-control" ng-model="ctrl.person.lastName" ng-if="ctrl.editedRow==$index"/>
                    </td>
                    <td>
                        <div ng-bind="person.yearOfBirth" ng-if="ctrl.editedRow!=$index"></div>
                        <input type="number" class="form-control" ng-model="ctrl.person.yearOfBirth" ng-if="ctrl.editedRow==$index"/>    
                    </td>
                    <td>
                        <button class="btn btn-success fa fa-edit" ng-click="ctrl.edit($index)" ng-disabled="ctrl.editedRow>=0" ng-if="ctrl.editedRow!=$index"></button>
                        <button class="btn btn-success fa fa-check" ng-click="ctrl.confirm(person._id)" ng-if="ctrl.editedRow==$index"></button>
                        <button class="btn btn-danger fa fa-trash" ng-click="ctrl.delete(person._id)" ng-disabled="ctrl.editedRow>=0" ng-if="ctrl.editedRow!=$index"></button>
                        <button class="btn btn-danger fa fa-times" ng-click="ctrl.editedRow=-1" ng-if="ctrl.editedRow==$index"></button> 
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="text" class="form-control" placeholder="first name" ng-model="ctrl.person.firstName" ng-if="ctrl.editedRow==ctrl.persons.length"/></td>
                    <td><input type="text" class="form-control" placeholder="last name" ng-model="ctrl.person.lastName" ng-if="ctrl.editedRow==ctrl.persons.length"/></td>
                    <td><input type="number" class="form-control" ng-model="ctrl.person.yearOfBirth" ng-if="ctrl.editedRow==ctrl.persons.length"/></td>
                    <td>
                        <button class="btn btn-primary fa fa-plus" ng-if="ctrl.editedRow!=ctrl.persons.length" ng-disabled="ctrl.editedRow!=-1" ng-click="ctrl.prepareToAdd()"></button>
                        <button class="btn btn-success fa fa-plus" ng-if="ctrl.editedRow==ctrl.persons.length" ng-click="ctrl.add()"></button>
                        <button class="btn btn-danger fa fa-times" ng-if="ctrl.editedRow==ctrl.persons.length" ng-click="ctrl.editedRow=-1"></button> 
                    </td>
                </tr>
            </table>
        </div>
        <script src="node_modules/angular/angular.min.js"></script>
        <script src="js/pws2022.js"></script>
    </body>
</html>