<h1>
    Persons
</h1>

<div>
    <form class="form-inline">
        <i class="fa fa-hashtag"></i>
        <input style="width: 10%" class="form-control" type="number" ng-model="ctrl.limit" ng-change="ctrl.refresh()"/>
        <i class="fa fa-search"></i>
        <input style="width: 20%" class="form-control" type="text" ng-model="ctrl.filter" ng-change="ctrl.refresh()"/>
    </form>
</div>

<br/><br/>

<div>
    <table class="table table-stripped">
        <tr>
            <th>id</th>
            <th>first name</th>
            <th>last name</th>
            <th>year of birth</th>
            <th>email</th>
            <th>
                <button class="btn btn-default fa fa-refresh" ng-click="ctrl.refresh(true)"></button>
            </th>
        </tr>
        <tr ng-repeat="person in ctrl.persons">
            <td ng-bind="person._id"></td>
            <td>
                <div ng-bind="person.firstName" ng-if="ctrl.editedRow!=$index"></div>
                <input class="form-control" ng-model="ctrl.person.firstName" ng-if="ctrl.editedRow==$index"/>
            </td>
            <td>
                <div ng-bind="person.lastName" ng-if="ctrl.editedRow!=$index"></div>
                <input class="form-control" ng-model="ctrl.person.lastName" ng-if="ctrl.editedRow==$index"/>
            </td>
            <td>
                <div ng-bind="person.yearOfBirth" ng-if="ctrl.editedRow!=$index"></div>
                <input type="number" class="form-control" ng-model="ctrl.person.yearOfBirth" ng-if="ctrl.editedRow==$index"/>    
            </td>
            <td>
                <div ng-bind="person.email" ng-if="ctrl.editedRow!=$index"></div>
                <input type="email" class="form-control" ng-model="ctrl.person.email" ng-if="ctrl.editedRow==$index"/>    
            </td>
            <td nowrap>
                <button class="btn btn-success fa fa-edit" ng-click="ctrl.edit($index)" ng-disabled="ctrl.editedRow>=0" ng-if="ctrl.editedRow!=$index"></button>
                <button class="btn btn-success fa fa-check" ng-click="ctrl.confirm(person._id)" ng-if="ctrl.editedRow==$index"></button>
                <button class="btn btn-danger fa fa-trash" ng-click="ctrl.delete($index)" ng-disabled="ctrl.editedRow>=0" ng-if="ctrl.editedRow!=$index"></button>
                <button class="btn btn-danger fa fa-times" ng-click="ctrl.editedRow=-1" ng-if="ctrl.editedRow==$index"></button> 
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="text" class="form-control" placeholder="first name" ng-model="ctrl.person.firstName" ng-if="ctrl.editedRow==ctrl.persons.length"/></td>
            <td><input type="text" class="form-control" placeholder="last name" ng-model="ctrl.person.lastName" ng-if="ctrl.editedRow==ctrl.persons.length"/></td>
            <td><input type="number" class="form-control" ng-model="ctrl.person.yearOfBirth" ng-if="ctrl.editedRow==ctrl.persons.length"/></td>
            <td><input type="email" class="form-control" ng-model="ctrl.person.email" ng-if="ctrl.editedRow==ctrl.persons.length"/></td>
            <td nowrap>
                <button class="btn btn-primary fa fa-plus" ng-if="ctrl.editedRow!=ctrl.persons.length" ng-disabled="ctrl.editedRow!=-1" ng-click="ctrl.prepareToAdd()"></button>
                <button class="btn btn-success fa fa-plus" ng-if="ctrl.editedRow==ctrl.persons.length" ng-click="ctrl.add()"></button>
                <button class="btn btn-danger fa fa-times" ng-if="ctrl.editedRow==ctrl.persons.length" ng-click="ctrl.editedRow=-1"></button> 
            </td>
        </tr>
    </table>
</div>