<h1>
    Tasks
</h1>

<div style="float: right;">
    <form class="form-inline">
        <select class="form-control" ng-model="ctrl.task.project" ng-change="ctrl.loadTasks()">
            <option ng-repeat="project in ctrl.projects" ng-bind="project.name" ng-value="project._id"></option>
        </select>
    </form>
</div>

<table class="table table-stripped">
    <tr>
        <th>Name</th><th>Creation time</th><th>Creator</th><th>Taken over</th><th>Done/Time</th>
    </tr>
    <tr ng-repeat="task in ctrl.tasks">
        <td ng-bind="task.name"></td>
        <td ng-bind="task.creationTime | date:'yyyy-MM-dd HH:mm:ss Z'"></td>
        <td ng-bind="task.creator.username"></td>
        <td>
            <span ng-bind="task.responsible.username"></span>
            <button ng-if="!task.responsible" ng-click="ctrl.updateTaskResponsible(task._id,task.project)">Take Over</button>
        </td>
        <td>
            <span ng-bind="task.done"></span>
            <button ng-if="!task.done" ng-click="ctrl.updateDone(task._id,task.project)">Done</button>
        </td>

    </tr>
</table>

<form class="form-inline">
    <input class="form-control" type="text" placeholder="name of the task" ng-model="ctrl.task.name"/>
    <button class="btn btn-primary fa fa-plus" ng-click="ctrl.addTask()"></button>
</form>